@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
:root {
	--color-dark: #0C0E14;
	--color-purple: #9200FA;
	--color-white: #fff;
}

/* Estilos Gerais */
body {
	color: var(--color-white);
	font-family: 'Ubuntu', sans-serif;
}

::selection {
	background-color: var(--color-purple);	
}

/* Inicio */
#inicio {
	background: var(--color-dark);
	height: 100vh;
}

#inicio > h1 {
	text-align: center;
	font-size: 7vw;
	padding-top: 200px;
}

#inicio > h1::before {
	content: "<";
}

#inicio > h1::after {
	content: "/>";
}

#inicio > h2 {
	text-align: center;
	font-size: 4vw;
}

#inicio > ul {
	display: flex;
	justify-content: center;
}

#inicio > ul li a i {
	padding: 10px 10px;
	color: var(--color-white);
	font-size: 3vw;
	transition: all, .5s;
}

#inicio > ul li a i:hover {
	color: var(--color-purple);
}

/* Responsivo */
@media(max-width: 767px) {
	#inicio > h1 {
		font-size: 8vw;
	}

	#inicio > h2 {
		font-size: 6vw;
	}

	#inicio > ul li a i {
		font-size: 7vw;
	}
}